/bert_classification
/bert2bert_finetuned
/logs
/model
/my_awesome_model
/training_master_model
/training_model
/validation_model
/.ipynb_checkpoints
/.env
/__pycache__

Claims.csv
Claims.xlsx
FactVer1.3.xlsx
FactVerBig2.xlsx
Master_Claims.csv
Master_Test.csv
Scientific approach.xlsx